<div class="container website-coming-soon">
  <div class="website-coming-soon__container col-md-12 col-md-offset-6">
    <div class="website-coming-soon__content">
      <h1 class="text-center">AI, Cloud & Edge (AICE)</h1>
      <h2 class="text-center white margin-bottom-30">
        A Proposed Eclipse Foundation Working Group
      </h2>
      <p>
        The Eclipse AI, Cloud &amp; Edge (AICE) Working Group will manage and
        operate an open lab (the &ldquo;AICE OpenLab&rdquo;) that will provide a
        set of resources to promote the advancement, implementation, and
        verification of open source software for AI, Cloud, and Edge computing.
        Read the <a href="https://www.eclipse.org/org/workinggroups/aice-charter.php">Working Group Charter</a>.
      </p>
      <p>Are you interested in AI, Cloud & Edge? Join the conversation about this proposed working group.</p>
    </div>
    <p class="margin-bottom-10 text-center">
      <a
        class="btn btn-primary"
        href="https://accounts.eclipse.org/mailing-list/aice-wg"
        >Join the Mailing List</a
      >
    </p>
  </div>
</div>
